<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Originally from Australia, I received a PhD from the University of Sydney in 2015. I worked as a postdoc at the University of Geneva (Switzerland) from 2015 - 2018, and at the Max Planck Institute for Astronomy in Heidelberg (Germany) in early-2019. My research focused on high-resolution imaging of planetary systems, to discover and study extrasolar planets and brown dwarfs. </p>
        <p>In late-2019 I participated in the Insight Data Science Fellowship, working on a website to classify jigsaw puzzle images and text reviews.</p>
        <p>In 2020-2021 I worked as a Data Scientist in the digital media chapter of WooliesX, the digital arm of Woolworths (Australia's largest supermarket chain).</p>
        <p>Since June 2021 I have worked as a Senior Data Scientist at Nielsen, working on Digital Ad Ratings for Connected TV clients. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1BtPxRbUyVpJksl5rLcJYpDoMlqYwoH-W/view?usp=sharing" target="_blank" class="btn btn-primary btn-lg">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
